<app-component-title
  icon="fa-solid fa-person-chalkboard"
  title="Teachers List"
></app-component-title>

<div class="tools-flex end">
  <a routerLink="/teachers/new" class="btn btn-secondary">
    <i class="fa-solid fa-plus me-2"></i> New Teacher
  </a>
</div>

<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Qualifications</th>
    <th>Classes</th>
    <th>Subjects</th>
  </thead>

  <tbody>
    <tr *ngFor="let teacher of teachers" (click)="edit(teacher.id)">
      <td [innerText]="teacher.id"></td>
      <td [innerText]="teacher.name"></td>
      <td [innerText]="teacher.qualifications"></td>
      <td [innerText]="teacher.classes"></td>
      <td [innerText]="teacher.subjects"></td>
    </tr>
  </tbody>
</table>
