<main class="main-container">
  <nav class="main-nav">
    <div class="h4 text-center text-primary">
      <i
        class="bg-secondary fa-calendar-check fa-regular p-2 rounded-3 text-primary"
      ></i>
      <span class="nav-title">Ng Schedules</span>
    </div>

    <hr />

    <ul class="nav nav-pills nav-fill flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="fa-solid fa-house-chimney-window"></i>
          <span class="nav-title">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teachers" routerLinkActive="active">
          <i class="fa-solid fa-person-chalkboard"></i>
          <span class="nav-title">Teachers</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedules" routerLinkActive="active">
          <i class="fa-solid fa-calendar"></i>
          <span class="nav-title">Schedules</span>
        </a>
      </li>
    </ul>
  </nav>
  <section class="main-content container-md mx-auto rounded-4">
    <router-outlet></router-outlet>
  </section>
</main>
